__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.env

# Media files
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.mp4
*.webm
*.mov
*.svg
*.ico

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
